<!DOCTYPE html>
<html>
<head >

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="myscript.js"></script>
  <script src="js/funk.js"></script>
  <script src="js/blockchain.js"></script>
    
</head>
<body class="Container"  style="background-image:url('bg.jpg');background-repeat: no-repeat ;  position:relative; background-size:cover  "">
		<br><br><br>
		<div class="well container" style="background-image:url('bg.jpg'); position:realtive; background-repeat: no-repeat; background-size:cover" >
			<h1 style="color: black; text-align: center; font-family:monospace; font-size: 300%" ><strong>SMART PROPERTY REGISTRY</strong></h1>
				<dd style="text-align: center; font-size: 150%">  Blockchain enabled solution for property registry!!!</dd>
		</div>
		
		<div>
			<div class="row" style="width: 100%; height: 100%;">
		
			<div class="col-sm-8">
				<br>
				<br>
				<br>
				<h2 style="padding-left :10%; color: black; "> We offer..</h2>
				<center>
				<div style="padding-right: 35%">
				<button class="btn btn-link btn-lg" style="width: 25%; height: 10%; border: none; background: none; outline-style: none; position: relative" data-toggle="modal" data-target="#myModal" >
					<span style="color: white; font-family: sans-serif; font-size:xx-large;">Own A property</span></button>
				<br>
				 
				<br>
				<button class="btn btn-link btn-lg"   style="width: 25%; height: 10%; border: none; background: none; outline-style: none; position: relative"  >
				<a href="sell_lease.html">
					<span  style="color: white; font-family: sans-serif; font-size:xx-large;"  > Sell/ Lease a property</span></button>
				<br>
                
                <button class="btn btn-link btn-lg"   style="width: 25%; height: 10%; border: none; background: none; outline-style: none; position: relative"  >
				<a href="block_view.html">
					<span  style="color: white; font-family: sans-serif; font-size:xx-large;"  >Blockchain View</span></button>
				<br>
			</div>	
			</center>
			</div>
			<div class="col-sm-4"></div>		
		</div>
		
		
		</div>
		
		
</center>
</body>
</html>
