doctype html
html
  head
    script(src='myscript.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body.Container(style="background-image:url('bg.jpg');background-repeat: no-repeat ;  position:relative; background-size:cover  ")
    br
    br
    br
    .well.container(style="background-image:url('bg.jpg'); position:realtive; background-repeat: no-repeat; background-size:cover")
      h1(style='color: black; text-align: center; font-family:monospace; font-size: 300%')
        strong SMART PROPERTY REGISTRY
      dd(style='text-align: center; font-size: 150%')   Blockchain enabled solution for property registry
    div
      .row(style='width: 100%; height: 100%;')
        .col-sm-8
          br
          br
          br
          h2(style='padding-left :10%; color: black; ')  We offer..
          center
            div(style='padding-right: 35%')
              button.btn.btn-link.btn-lg(style='width: 25%; height: 10%; border: none; background: none; outline-style: none; position: relative', data-toggle='modal', data-target='#myModal')
                span(style='color: white; font-family: sans-serif; font-size:xx-large;') Own A property
              br
              br
              button.btn.btn-link.btn-lg(style='width: 25%; height: 10%; border: none; background: none; outline-style: none; position: relative')
                a(href='sell_lease.html')
                  span(style='color: white; font-family: sans-serif; font-size:xx-large;')  Sell/ Lease a property
              br
        .col-sm-4
